.headerLogo img{
    transition:ease 2s;
}

.headerLogo{
  text-align: center;
  transition: width 2s;
}
.navBar{
    text-align: left;
    padding-left: 40px;
    line-height: 40px;
    background-color: black;
}
.navBar a{
    text-decoration: none;
    color: rgb(209, 158, 158);
    margin-right: 25px;
    font-weight: bold;
    font-size: 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.navBar a:hover{
    
    box-shadow: inset  0 0 0 #2f8aac;
    color: white;
   
}   